:root * {
	//** define font

	font-family: $roboto;
	font-weight: $normalfont;
}

html.dark {
	header *,
	body * {
		background-color: $background !important;
		color: $foreground !important;
		border: 0.0625rem $purple-border !important;
	}

	// *! container

	div.mdl-content.js-mdl-content.horizontal-flow-container {
		margin-top: 0.3125rem !important;
	}
}
