:root * {
  //** define font

  font-family: $roboto;
  font-weight: $normalfont;
}

html.dark {
  header,
  body * {
    background-color: $background !important;
    color: $foreground;
    border: 0.0625rem $purple-border !important;
  }
}
