html.dark {
	// TODO: purple link

	a .link-complex-target {
		color: $purple !important;
		text-decoration: none !important;

		// TODO: blue on hover links

		&:hover {
			color: $cyan !important;
			text-decoration: none !important;
		}
	}

	// TODO: "Replying to" string and DM username color

	.link-complex:focus .link-complex-target,
	.link-complex:hover .link-complex-target,
	div.other-replies.txt-ellipsis {
		color: $pink !important;
		text-decoration: none !important;
	}

	/* green link outside the message window (timeline, notifications, trendings, users in the conversation, user column etc.). */

	.other-replies-link,
	.txt-ellipsis,
	.account-inline .fullname {
		color: $green !important;
		&:hover {
			color: inherit !important;
		}
	}

	/* orange color of username */

	.account-inline .username {
		color: $orange !important;
		font-weight: normal;
		* {
			color: inherit !important;
		}
	}
}

html.dark {
	a.link-complex {
		color: $purple !important;
	}
	a.link-complex:hover {
		color: $pink !important;
	}
	a.link-complex * {
		color: inherit !important;
	}

	/* show this thread */

	p.margin-t--4.margin-b---3.txt-mute {
		color: $yellow !important;
	}
}
