html.dark {
	/* all links */
	a,
	a *,
	a > * {
		text-decoration: none !important;
	}
	/* name color */
	.account-inline .fullname {
		color: $green !important;
	}
	/*  username color */
	.account-inline .username {
		color: $orange !important;
		&:hover {
			color: cyan !important;
		}
	}
	/* user has retweeted */
	.nbfc {
		a {
			color: $purple !important;
			&:hover {
				color: $pink !important;
			}
		}
	}
	/* "Replying to" text */
	.other-replies.txt-ellipsis {
		color: $pink !important;
	}
	/* "Replying to" users */
	.other-replies.txt-ellipsis > a {
		color: $orange !important;
		&:hover {
			color: $cyan !important;
		}
	}
	/* green text */
	.link-complex-target {
		color: $green !important;
	}
}
