html.dark {
	// TODO: username within parentheses

	span.username.txt-mute::before,
	a.js-other-replies-link.other-replies-link::before,
	span.username::before {
		content: '(';
		color: $orange !important;
	}
	span.username.txt-mute::after,
	a.js-other-replies-link.other-replies-link::after,
	span.username::after {
		content: ')';
		color: $orange !important;
	}

	// TODO: format user card

	// ** avatar */

	.avatar {
		border-radius: 3.125rem !important;
	}
	// ** image header

	.account-profile-header {
		opacity: 0% !important;
	}

	div.prf-header {
		background-size: 0rem !important;
	}

	// ** profile card width

	div.width-p--85.margin-a-auto.position-rel.padding-b--20 {
		width: 100% !important;
	}

	// ** div bar of card

	div.prf-header-inner-overlay {
		background-color: $purple !important;
	}
	ul.lst-profile.cf li.js-item-launch {
		height: 4.375rem !important;
	}
	/* hover text */
	ul.prf-stats li a:hover {
		color: $yellow !important;
	}

	// TODO: tweet card

	p.js-tweet-text.tweet-text.with-linebreaks {
		padding-top: 0.125rem !important;
		width: 90% !important;
	}

	/* response padding */

	div.other-replies.txt-ellipsis {
		padding-bottom: 0.625rem !important;
	}
	.item-box-full-bleed {
		margin: 0 0rem 1.25rem !important;
	}
	div.js-app-columns.app-columns.horizontal-flow-container.without-tweet-drag-handles:nth-child(3) {
		color: $green !important;
	}

	// TODO: Small Spinner

	.spinner-small {
		margin-top: 50px;
		height: 32px;
		width: 32px;
		background: url(https://raw.githubusercontent.com/oinconquistado/tweetDracula/main/images/spinner-small.gif?raw=true)
			no-repeat 100% 100%;
	}
	.js-column-loading-placeholder {
		font-size: 0px;
	}
	// TODO:

	/* floating window */
	.pos-l .caret {
		width: 0px !important;
	}

	/* close button */
	.icon.icon-close:hover {
		color: $red !important;
	}
	input:focus {
		border-color: #d9c2fa !important;
		color: #d9c2fa !important;
		box-shadow: none;
	}
}
