/* ==UserStyle==
@name           TweetDracula
@namespace      github.com/oinconquistado/TweetDracula
@version        1.1.0
@description    Dracula Theme for Tweetdeck
@author         oinconquistado
==/UserStyle== */
@-moz-document domain("tweetdeck.twitter.com") {
  :root {
    /* variables */
    --background: #282a36;
    --comment: #6272a4;
    --selection: #44475a;
    --foreground: #f8f8f2;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --pink-border-rgb: rgb(255, 121, 198, 0.5);
    --purple: #bd93f9;
    --purple-border: #d9c2fa;
    --purple-border-rgb: rgb(217, 194, 250, 0.9);
    --red: #ff5555;
    --yellow: #f1fa8c;
    --gray: #b8b8b8;
    /* font family */
    font-family: "Roboto", sans-serif !important;
    font-weight: 300 !important;
  }

  /* background and scroll bar — scrollbar works on Firefox +64*/
  header *,
  body * {
    background-color: var(--background) !important;
    color: var(--foreground);
    border: 0.0625rem var(--purple-border) !important;
    scrollbar-color: var(--background) !important;
    scrollbar-width: thin;
  }

  /* trends and external links */
  html.dark a,
  html.dark .link-complex-target {
    color: var(--purple) !important;
    text-decoration: none !important;
  }

  html.dark a.link-complex-target:hover {
    color: var(--cyan) !important;
    text-decoration: none !important;
  }

  html.dark .link-complex:focus .link-complex-target,
  html.dark .link-complex:hover .link-complex-target,
  html.dark div.other-replies.txt-ellipsis {
    color: var(--pink) !important;
    text-decoration: none !important;
  }

  html.dark .account-inline .fullname,
  html.dark
    b.fullname.inline-block.link-complex-target.position-rel.txt-ellipsis,
  html.dark span.link-complex-target.txt-ellipsis {
    color: var(--green) !important;
  }

  html.dark .account-inline .username,
  html.dark span.username.txt-mute,
  html.dark a.js-other-replies-link.other-replies-link {
    color: var(--orange) !important;
  }

  html.dark span.username.txt-mute::before,
  html.dark a.js-other-replies-link.other-replies-link::before,
  html.dark span.username::before {
    content: "(";
    color: var(--orange) !important;
  }

  html.dark span.username.txt-mute::after,
  html.dark a.js-other-replies-link.other-replies-link::after,
  html.dark span.username::after {
    content: ")";
    color: var(--orange) !important;
  }

  /* details notifications */
  html.dark div.margin-tl.txt-mute.txt-size-variable--12 a:first-child {
    color: var(--yellow) !important;
  }

  html.dark div.margin-tl.txt-mute.txt-size-variable--12 a:last-child {
    color: var(--cyan) !important;
  }

  html.dark a.js-open-analytics.js-show-tip.full-width span {
    color: var(--gray) !important;
  }

  /* badges */
  /* head */
  html.dark .numbered-badge-onheader,
  html.dark .numbered-badge-onnav {
    background-color: var(--purple) !important;
    color: var(--foreground) !important;
    border: 0.0625rem solid var(--purple) !important;
  }

  /* remove profile header */
  html.dark .account-profile-header {
    opacity: 0% !important;
  }

  /* ---- Elements ---- */
  /* tweet stats */
  span.txt-size-variable--10 {
    color: var(--purple) !important;
  }

  /* gradient for dm */
  html.dark .focus,
  html.dark input:focus,
  html.dark select:focus,
  html.dark textarea:focus {
    border-color: var(--foreground) !important;
    color: var(--foreground) !important;
    box-shadow: inset 0 0.0625rem 0.1875rem var(--foreground),
      0 0 0.5rem var(--foreground);
  }

  /* remove insane border from textarea dm */
  html.dark .scroll-alt::-webkit-scrollbar-track {
    border: 0rem !important;
  }

  /* Placeholder for DM */
  html.dark .rpl textarea::placeholder {
    color: var(--foreground) !important;
  }

  /* gray action icons */
  html.dark footer ul {
    padding: 0.625rem !important;
  }

  html.dark footer ul li {
    color: var(--gray) !important;
  }

  html.dark footer ul li a,
  html.dark footer ul li a i,
  html.dark footer ul li a span {
    color: inherit !important;
  }

  html.dark footer ul li:nth-child(1):hover,
  html.dark
    footer
    ul.js-tweet-actions.tweet-actions.full-width.is-visible
    li:nth-child(1):hover,
  html.dark i.icon.icon-more.txt-right:hover {
    color: var(--cyan) !important;
  }

  html.dark footer ul li:nth-child(2):hover,
  html.dark
    footer
    ul
    li
    a
    i.js-icon-retweet.icon.icon-retweet-toggle.txt-center.pull-left.icon-retweet-filled,
  html.dark footer ul li:nth-child(2) a > span:active {
    color: var(--green) !important;
  }

  html.dark footer ul li:nth-child(3):hover,
  html.dark footer ul li a[title^="Unlike"] {
    color: var(--purple) !important;
  }

  /* tweet bar */
  /* response padding */
  html.dark div.other-replies.txt-ellipsis {
    padding-bottom: 0.625rem !important;
  }

  /* response text-area and compose */
  html.dark .inline-reply .compose-text,
  html.dark
    textarea.js-compose-text.compose-text.bg-color-twitter-white.txt-size--14.scroll-v.scroll-styled-v.scroll-styled-h.scroll-alt.padding-a--0 {
    padding: 0.625rem !important;
    color: var(--background) !important;
  }

  html.dark .item-box-full-bleed {
    margin: 0 0rem 1.25rem !important;
  }

  /* search user in compose */
  html.dark strong.fullname {
    color: var(--green) !important;
    font-weight: normal;
  }

  html.dark span.username {
    color: var(--orange) !important;
    font-weight: normal;
  }

  html.dark span.username * {
    color: inherit !important;
  }

  html.dark a.link-complex {
    color: var(--purple) !important;
  }

  html.dark a.link-complex:hover {
    color: var(--pink) !important;
  }

  html.dark a.link-complex * {
    color: inherit !important;
  }

  html.dark
    div.js-app-columns.app-columns.horizontal-flow-container.without-tweet-drag-handles:nth-child(3) {
    color: var(--green) !important;
  }

  /* select account compose */
  html.dark i.icon.icon-check.txt-size--12.color-twitter-white {
    background-color: var(--pink) !important;
    border: 0.125rem solid var(--pink) !important;
    padding: 0rem 0.1875rem 0.375rem 0.1875rem !important;
    border-radius: 1.5625rem !important;
  }

  /* tweet button */
  html.dark
    button.js-send-button.js-spinner-button.js-show-tip.Button--primary.btn-extra-height.padding-v--6.padding-h--12.is-disabled,
  html.dark
    button.js-send-button.js-spinner-button.js-show-tip.Button--primary.btn-extra-height.padding-v--6.padding-h--12 {
    background-color: var(--purple) !important;
    color: var(--foreground) !important;
    border: 0rem !important;
  }

  /* user card */
  html.dark div.prf-header {
    background-size: 0rem !important;
  }

  html.dark div.width-p--85.margin-a-auto.position-rel.padding-b--20 {
    width: 100% !important;
  }

  html.dark div.prf-header-inner-overlay {
    background-color: var(--purple) !important;
  }

  html.dark ul.lst-profile.cf li.js-item-launch {
    height: 4.375rem !important;
  }

  /* stay open */
  html.dark
    label.checkbox.checkbox-reversed.compose-remember-state.margin-a--15.txt-right {
    color: var(--cyan) !important;
  }

  /* compose icon */
  html.dark i.Icon.icon-compose,
  html.dark i.Icon.icon-schedule.txt-size--18,
  html.dark i.Icon.icon-message.txt-size--18,
  html.dark
    button.js-hide-drawer.margin-t--8.margin-b--10.Button.Button--primary.Button--large.tweet-button.txt-left {
    background-color: inherit !important;
  }

  html.dark
    button.js-show-drawer.js-show-tip.Button.Button--primary.Button--large.tweet-button.margin-t--8.margin-b--10:hover,
  html.dark i.Icon.icon-compose:hover,
  html.dark
    button.js-show-drawer.js-show-tip.Button.Button--primary.Button--large.tweet-button.margin-t--8.margin-b--10.is-hidden.hover,
  html.dark
    button.js-hide-drawer.margin-t--8.margin-b--10.Button.Button--primary.Button--large.tweet-button.txt-left:hover,
  html.dark
    button.js-add-image-button.js-show-tip.needsclick.btn.btn-on-blue.full-width.txt-left.margin-b--12.padding-v--6.padding-h--12:hover,
  html.dark
    button.js-schedule-button.js-show-tip.btn.btn-on-blue.full-width.txt-left.margin-b--12.padding-v--6.padding-h--12:hover,
  html.dark
    button.js-dm-button.js-show-tip.btn.btn-on-blue.full-width.txt-left.padding-v--6.padding-h--12.margin-b--12:hover {
    background-color: var(--purple) !important;
  }

  /* text add image */
  html.dark span.js-add-image-button-label.label.padding-ls,
  html.dark span.js-schedule-button-label.label.padding-ls,
  html.dark span.label.padding-ls,
  html.dark span.label.margin-an {
    background-color: inherit !important;
  }

  /* add image on focus */
  html.dark *.btn-on-blue:focus {
    color: #fff !important;
    border-color: transparent !important;
    background-color: #8899a6 !important;
    box-shadow: 0 0 0.125rem 0.1875rem var(--foreground) !important;
    outline: 0 !important;
  }

  /* edit profile */
  /* profile card */
  html.dark button.js-action-profile.action-text.thats-you-text.btn-on-dark {
    color: var(--purple) !important;
  }

  html.dark
    button.js-action-profile.action-text.thats-you-text.btn-on-dark:hover {
    color: var(--red) !important;
  }

  html.dark ul.prf-stats li a strong {
    color: var(--cyan) !important;
  }

  html.dark .prf .lst-profile a:hover i {
    color: var(--yellow) !important;
  }

  html.dark i.Icon.icon-more {
    color: var(--pink) !important;
  }

  html.dark button.btn-on-dark:focus,
  html.dark input[type="button"].btn-on-dark:focus {
    box-shadow: 0 0 0 0.125rem #10171e, 0 0 0 0.25rem var(--purple-border) !important;
  }

  /*time line */
  /* remove bg video icon */
  html.dark a.js-gif-pause.is-actionable.gif-pause {
    background-color: rgba(0, 0, 0, 0) !important;
  }

  html.dark .video-overlay {
    line-height: 0.8 !important;
  }

  html.dark .icon-twitter-blue-color {
    color: var(--purple) !important;
  }

  /* retweet window */
  html.dark button.js-action-button.btn.btn-on-dark.margin-r--8 {
    color: var(--purple) !important;
    font-weight: 500;
  }

  html.dark button.js-action-button.btn.btn-on-dark.margin-r--8:hover {
    color: var(--pink) !important;
  }

  html.dark button.js-action-button.js-retweet-button.Button--primary {
    color: var(--green) !important;
    font-weight: 500;
  }

  html.dark button.js-action-button.js-retweet-button.Button--primary:hover,
  html.dark a.txt-size-variable--12.no-wrap {
    color: var(--cyan) !important;
  }

  /* retweet box */
  html.dark
    div.js-quote-tweet-holder.padding-a--10.bg-color-twitter-white.is-inverted-dark.margin-t---4.br-bottom--4 {
    background-color: var(--background) !important;
    cursor: pointer !important;
  }

  html.dark
    a.js-media-image-link.block.med-link.media-item.media-size-medium.is-zoomable {
    cursor: pointer !important;
  }

  html.dark
    a.js-media-image-link.block.med-link.media-item.media-size-medium.is-zoomable {
    cursor: pointer !important;
  }

  /* config window */
  html.dark div.mdl.s-short {
    height: 28.75rem !important;
  }

  html.dark
    i.js-streaming-updates.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-off,
  html.dark
    i.js-show-startup-notifications.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-off,
  html.dark
    i.js-display-sensitive-media.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-off,
  html.dark
    i.js-auto-play-gifs.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-off {
    color: var(--red) !important;
  }

  html.dark
    i.js-streaming-updates.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-on,
  html.dark
    i.js-show-startup-notifications.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-on,
  html.dark
    i.js-display-sensitive-media.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-on,
  html.dark
    i.js-auto-play-gifs.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-on {
    color: var(--cyan) !important;
  }

  html.dark
    header.js-drag-handle.padding-a--12.no-collapse.mdl-header.is-movable.mdl-header-divider {
    padding: 0.625rem !important;
    margin: 0.625rem !important;
  }

  html.dark div.mdl-content.js-mdl-content.horizontal-flow-container {
    margin-top: 0.3125rem !important;
  }

  /* cartão do tweet */
  html.dark p.js-tweet-text.tweet-text.with-linebreaks {
    padding-top: 0.125rem !important;
    width: 90% !important;
  }

  /* video */
  html.dark div.js-tweet.tweet {
    margin: 0.125rem 0 !important;
  }

  html.dark ul.js-tweet-actions.tweet-actions.full-width {
    padding-top: 0.3125rem !important;
  }

  html.dark .gap-chirp:after {
    opacity: 0% !important;
  }

  html.dark div.js-stream-item-content.item-box.js-expand-gap.padding-v--18,
  html.dark div.gap-chirp-text.padding-v--4.padding-h--16 {
    background-color: var(--selection) !important;
  }

  html.dark article.stream-item.js-stream-item.is-draggable.is-actionable {
    margin: 0.1875rem 0rem !important;
  }

  /* medium media */
  html.darl
    div.js-preferences-summary.facet-subtitle.padding-t--3.padding-r--12.padding-l--36.nbfc {
    color: var(--yellow) !important;
  }

  /* quoted twitter */
  html.dark .br--14,
  html.dark
    a.js-media-image-link.block.med-link.media-item.media-size-medium.is-zoomable {
    border-radius: 0.125rem !important;
  }

  html.dark p.js-quoted-tweet-text.with-linebreaks {
    margin: 0.625rem 0rem !important;
  }

  html.dark
    div.js-quote-detail.quoted-tweet.nbfc.br--14.padding-al.margin-b--8.position-rel.margin-tm.is-actionable {
    padding: 1.5625rem 1.25rem !important;
    background-color: var(--selection) !important;
  }

  html.dark
    div.js-quote-detail.quoted-tweet.nbfc.br--14.padding-al.margin-b--8.position-rel.margin-tm.is-actionable
    > div,
  html.dark div.js-reply-info-container *,
  html.dark
    div.js-quote-detail.quoted-tweet.nbfc.br--14.padding-al.margin-b--8.position-rel.margin-tm.is-actionable
    > div
    > header,
  html.dark
    div.js-quote-detail.quoted-tweet.nbfc.br--14.padding-al.margin-b--8.position-rel.margin-tm.is-actionable
    > div
    > header
    *,
  html.dark
    div.js-quote-detail.quoted-tweet.nbfc.br--14.padding-al.margin-b--8.position-rel.margin-tm.is-actionable
    > div
    > p,
  html.dark
    div.js-quote-detail.quoted-tweet.nbfc.br--14.padding-al.margin-b--8.position-rel.margin-tm.is-actionable
    > div
    > p
    * {
    background-color: var(--selection) !important;
  }

  /* avatar */
  html.dark .avatar {
    border-radius: 3.125rem !important;
  }

  /* show this thread */
  html.dark p.margin-t--4.margin-b---3.txt-mute {
    color: var(--yellow) !important;
  }

  /*video icon */
  i.icon.icon-play-video,
  i.video-overlay.icon-with-bg-round,
  i.icon.icon-bg-dot.icon-twitter-blue-color,
  div.video-overlay.icon-with-bg-round {
    background-color: rgba(0, 0, 0, 0) !important;
    cursor: pointer !important;
  }

  /* media size */
  html.dark .media-size-small,
  html.dark
    a.js-media-image-link.block.med-link.media-item.media-size-small.is-zoomable {
    width: 100% !important;
    height: 9.375rem !important;
  }

  html.dark #caldays > span {
    color: var(--purple) !important;
    font-weight: bold;
  }

  html.dark #calweeks * {
    color: var(--yellow) !important;
  }

  html.dark a.caldisabled {
    background-color: var(--selection) !important;
  }

  html.dark #scheduled-hour,
  html.dark #scheduled-minute,
  html.dark #amPm {
    color: var(--foreground) !important;
  }
}
