/* details notifications */

html.dark div.margin-tl.txt-mute.txt-size-variable--12 a:first-child {
	color: var(--yellow) !important;
}

html.dark div.margin-tl.txt-mute.txt-size-variable--12 a:last-child {
	color: var(--cyan) !important;
}

html.dark a.js-open-analytics.js-show-tip.full-width span {
	color: var(--gray) !important;
}

/* ---- Elements ---- */

/* tweet stats */
span.txt-size-variable--10 {
	color: var(--purple) !important;
}

/* gray action icons */

html.dark footer ul {
	padding: 0.625rem !important;
}

html.dark footer ul li {
	color: var(--gray) !important;
}

html.dark footer ul li a,
html.dark footer ul li a i,
html.dark footer ul li a span {
	color: inherit !important;
}

html.dark footer ul li:nth-child(1):hover,
html.dark
	footer
	ul.js-tweet-actions.tweet-actions.full-width.is-visible
	li:nth-child(1):hover,
html.dark i.icon.icon-more.txt-right:hover {
	color: var(--cyan) !important;
}

html.dark footer ul li:nth-child(2):hover,
html.dark
	footer
	ul
	li
	a
	i.js-icon-retweet.icon.icon-retweet-toggle.txt-center.pull-left.icon-retweet-filled,
html.dark footer ul li:nth-child(2) a > span:active {
	color: var(--green) !important;
}

html.dark footer ul li:nth-child(3):hover,
html.dark footer ul li a[title^="Unlike"] {
	color: var(--purple) !important;
}

/* tweet bar */

/* response padding */
html.dark div.other-replies.txt-ellipsis {
	padding-bottom: 0.625rem !important;
}

/* response text-area and compose */

html.dark .inline-reply .compose-text,
html.dark
	textarea.js-compose-text.compose-text.bg-color-twitter-white.txt-size--14.scroll-v.scroll-styled-v.scroll-styled-h.scroll-alt.padding-a--0 {
	padding: 0.625rem !important;
	color: var(--background) !important;
}

html.dark .item-box-full-bleed {
	margin: 0 0rem 1.25rem !important;
}

/* search user in compose */

html.dark strong.fullname {
	color: var(--green) !important;
	font-weight: normal;
}

html.dark span.username {
	color: var(--orange) !important;
	font-weight: normal;
}

html.dark span.username * {
	color: inherit !important;
}

html.dark a.link-complex {
	color: var(--purple) !important;
}

html.dark a.link-complex:hover {
	color: var(--pink) !important;
}

html.dark a.link-complex * {
	color: inherit !important;
}

html.dark
	div.js-app-columns.app-columns.horizontal-flow-container.without-tweet-drag-handles:nth-child(3) {
	color: var(--green) !important;
}

/* select account compose */
html.dark i.icon.icon-check.txt-size--12.color-twitter-white {
	background-color: var(--pink) !important;
	border: 0.125rem solid var(--pink) !important;
	padding: 0rem 0.1875rem 0.375rem 0.1875rem !important;
	border-radius: 1.5625rem !important;
}

/* tweet button */
html.dark
	button.js-send-button.js-spinner-button.js-show-tip.Button--primary.btn-extra-height.padding-v--6.padding-h--12.is-disabled,
html.dark
	button.js-send-button.js-spinner-button.js-show-tip.Button--primary.btn-extra-height.padding-v--6.padding-h--12 {
	background-color: var(--purple) !important;
	color: var(--foreground) !important;
	border: 0rem !important;
}

/* stay open */

html.dark
	label.checkbox.checkbox-reversed.compose-remember-state.margin-a--15.txt-right {
	color: var(--cyan) !important;
}

/* compose icon */

html.dark i.Icon.icon-compose,
html.dark i.Icon.icon-schedule.txt-size--18,
html.dark i.Icon.icon-message.txt-size--18,
html.dark
	button.js-hide-drawer.margin-t--8.margin-b--10.Button.Button--primary.Button--large.tweet-button.txt-left {
	background-color: inherit !important;
}

html.dark .is-condensed .attach-compose-buttons .tweet-button {
}

html.dark
	button.js-show-drawer.js-show-tip.Button.Button--primary.Button--large.tweet-button.margin-t--8.margin-b--10:hover,
html.dark i.Icon.icon-compose:hover,
html.dark
	button.js-show-drawer.js-show-tip.Button.Button--primary.Button--large.tweet-button.margin-t--8.margin-b--10.is-hidden.hover,
html.dark
	button.js-hide-drawer.margin-t--8.margin-b--10.Button.Button--primary.Button--large.tweet-button.txt-left:hover,
html.dark
	button.js-add-image-button.js-show-tip.needsclick.btn.btn-on-blue.full-width.txt-left.margin-b--12.padding-v--6.padding-h--12:hover,
html.dark
	button.js-schedule-button.js-show-tip.btn.btn-on-blue.full-width.txt-left.margin-b--12.padding-v--6.padding-h--12:hover,
html.dark
	button.js-dm-button.js-show-tip.btn.btn-on-blue.full-width.txt-left.padding-v--6.padding-h--12.margin-b--12:hover {
	background-color: var(--purple) !important;
}

/* text add image */

html.dark span.js-add-image-button-label.label.padding-ls,
html.dark span.js-schedule-button-label.label.padding-ls,
html.dark span.label.padding-ls,
html.dark span.label.margin-an {
	background-color: inherit !important;
}

/* add image on focus */

html.dark *.btn-on-blue:focus {
	color: #fff !important;
	border-color: transparent !important;
	background-color: #8899a6 !important;
	box-shadow: 0 0 0.125rem 0.1875rem var(--foreground) !important;
	outline: 0 !important;
}

/* edit profile */

/* profile card */

html.dark button.js-action-profile.action-text.thats-you-text.btn-on-dark {
	color: var(--purple) !important;
}

html.dark
	button.js-action-profile.action-text.thats-you-text.btn-on-dark:hover {
	color: var(--red) !important;
}

html.dark ul.prf-stats li a strong {
	color: var(--cyan) !important;
}

html.dark .prf .lst-profile a:hover i {
	color: var(--yellow) !important;
}

html.dark i.Icon.icon-more {
	color: var(--pink) !important;
}

html.dark button.btn-on-dark:focus,
html.dark input[type="button"].btn-on-dark:focus {
	box-shadow: 0 0 0 0.125rem #10171e, 0 0 0 0.25rem var(--purple-border) !important;
}

/*time line */

/* config window */

html.dark div.mdl.s-short {
	height: 28.75rem !important;
}

html.dark
	i.js-streaming-updates.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-off,
html.dark
	i.js-show-startup-notifications.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-off,
html.dark
	i.js-display-sensitive-media.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-off,
html.dark
	i.js-auto-play-gifs.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-off {
	color: var(--red) !important;
}

html.dark
	i.js-streaming-updates.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-on,
html.dark
	i.js-show-startup-notifications.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-on,
html.dark
	i.js-display-sensitive-media.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-on,
html.dark
	i.js-auto-play-gifs.icon.icon-small.color-twitter-blue.js-toggle-switch.is-actionable.align-top.icon-toggle-on {
	color: var(--cyan) !important;
}

html.dark
	header.js-drag-handle.padding-a--12.no-collapse.mdl-header.is-movable.mdl-header-divider {
	padding: 0.625rem !important;
	margin: 0.625rem !important;
}

html.dark div.mdl-content.js-mdl-content.horizontal-flow-container {
	margin-top: 0.3125rem !important;
}

/* show this thread */

html.dark p.margin-t--4.margin-b---3.txt-mute {
	color: var(--yellow) !important;
}

/*video icon */
i.icon.icon-play-video,
i.video-overlay.icon-with-bg-round,
i.icon.icon-bg-dot.icon-twitter-blue-color,
div.video-overlay.icon-with-bg-round {
	background-color: rgba(0, 0, 0, 0) !important;
	cursor: pointer !important;
}

/* media size */

html.dark .media-size-small,
html.dark
	a.js-media-image-link.block.med-link.media-item.media-size-small.is-zoomable {
	width: 100% !important;
	height: 9.375rem !important;
}
